td{
    padding:10px;
    border: solid 2px;
}
.table{
    border: solid 2px;
    border-collapse: collapse;
    letter-spacing: 1px;
    width: 100%;
}
#head{
    font-size: large;
    font-weight: bold;
}
.even{
    background-color: white;
}
.odd{
   background-color:cyan;
}