ul{
    list-style: none;
    padding: 10px;
}

.content{
    background-color: rgb(255, 255, 255);
    height: fit-content;
    margin: 10px;
    border: solid 2px;
    border-radius: 20px;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#buttons{
    display: flex;
    justify-content: flex-end;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}