* {
    font-family: sans-serif, Arial, Arial, Helvetica;
}

body{
    width: 90%;
    margin:0em auto;
    background: #c1c1c1;
    background-color:azure;
    
}

img{
    width: 10%;
    max-height: 10%;
    
}
.banner{
    display:flex;
    justify-content: left;
    background-image: url("image2.png");
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xxx-large;
    font-style: italic;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-style: italic;
}

header{
    display:flex;
    background-color:#AAFAFE;
    justify-content: center;
    margin: 1em;
}
header>div{
    margin: 10px;
}
li{
    padding: 5px;
}

.main{
    display:grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
.content{
    background-color: azure;
    padding-left: 10px;
}

#sidebar{
    display:flex;
    flex-direction: column;
    border:solid 0.1em;
    overflow: hidden;
}

#sidebar li{
    float:inline-end;
    position:relative;
}
#sidebar ul{
    margin: 0;
    padding:0;
    list-style: none;
}
.submenu-links{
    display:none;
    position:relative;
    z-index: 1;
    background-color:#51f6ff;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.submenu:hover .submenu-links {
    display: block;
  }

.navbar{
    margin:0.8em;
}

.menu_items{
    margin:0.25em;
    background-color: #AAFAFE;
    justify-items: center;

}